In [2]:
import pandas as pd
import sqlite3

In [3]:
df = pd.read_csv('./base_de_dados/supermarket_sales.csv', encoding='utf-8', sep=',')
df

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [5]:
df.columns = ['Fatura_ID','Filial','Cidade','Tipo de Cliente','GÃªnero','Linha de Produto','PreÃ§o UnitÃ¡rio','Quantidade Adquirida','Taxa 5% imposto','Total C/ Imposto','Data Venda','Hora Venda','Tipo Pagamento','Custo dos produtos','Porcentagem da margem bruta','Renda Bruta','ClassificaÃ§Ã£o']

In [6]:
df

,Fatura_ID,Filial,Cidade,Tipo de Cliente,GÃªnero,Linha de Produto,PreÃ§o UnitÃ¡rio,Quantidade Adquirida,Taxa 5% imposto,Total C/ Imposto,Data Venda,Hora Venda,Tipo Pagamento,Custo dos produtos,Porcentagem da margem bruta,Renda Bruta,ClassificaÃ§Ã£o
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [7]:
df['Tipo de Cliente'].replace('Member', 'Membro', inplace=True)
df['Tipo de Cliente'].unique()

array(['Membro', 'Normal'], dtype=object)

In [8]:
df['GÃªnero'].replace('Female', 'Feminino', inplace=True)
df['GÃªnero'].replace('Male', 'Masculino', inplace=True)
df['GÃªnero'].unique()

array(['Feminino', 'Masculino'], dtype=object)

In [9]:
df['Linha de Produto'].replace('Health and beauty', 'SaÃºde e beleza', inplace=True)
df['Linha de Produto'].replace('Electronic accessories', 'AcessÃ³rios eletrÃ´nicos', inplace=True)
df['Linha de Produto'].replace('Home and lifestyle', 'Casa e estilo de vida', inplace=True)
df['Linha de Produto'].replace('Sports and travel', 'Esportes e viagens', inplace=True)
df['Linha de Produto'].replace('Food and beverages', 'AlimentaÃ§Ã£o e bebidas', inplace=True)
df['Linha de Produto'].replace('Fashion accessories', 'AcessÃ³rios Fashions', inplace=True)
df['Linha de Produto'].unique()

array(['SaÃºde e beleza', 'AcessÃ³rios eletrÃ´nicos',
       'Casa e estilo de vida', 'Esportes e viagens',
       'AlimentaÃ§Ã£o e bebidas', 'AcessÃ³rios Fashions'], dtype=object)

In [10]:
df['Tipo Pagamento'].replace('Ewallet', 'Carteira eletrÃ´nica', inplace=True)
df['Tipo Pagamento'].replace('Cash', 'Dinheiro', inplace=True)
df['Tipo Pagamento'].replace('Credit card', 'CartÃ£o de CrÃ©dito', inplace=True)
df['Tipo Pagamento'].unique()

array(['Carteira eletrÃ´nica', 'Dinheiro', 'CartÃ£o de CrÃ©dito'],
      dtype=object)

In [11]:
df.head()

,Fatura_ID,Filial,Cidade,Tipo de Cliente,GÃªnero,Linha de Produto,PreÃ§o UnitÃ¡rio,Quantidade Adquirida,Taxa 5% imposto,Total C/ Imposto,Data Venda,Hora Venda,Tipo Pagamento,Custo dos produtos,Porcentagem da margem bruta,Renda Bruta,ClassificaÃ§Ã£o
0,750-67-8428,A,Yangon,Membro,Feminino,SaÃºde e beleza,74.69,7,26.1415,548.9715,1/5/2019,13:08,Carteira eletrÃ´nica,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Feminino,AcessÃ³rios eletrÃ´nicos,15.28,5,3.8200,80.2200,3/8/2019,10:29,Dinheiro,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Masculino,Casa e estilo de vida,46.33,7,16.2155,340.5255,3/3/2019,13:23,CartÃ£o de CrÃ©dito,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Membro,Masculino,SaÃºde e beleza,58.22,8,23.2880,489.0480,1/27/2019,20:33,Carteira eletrÃ´nica,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Masculino,Esportes e viagens,86.31,7,30.2085,634.3785,2/8/2019,10:37,Carteira eletrÃ´nica,604.17,4.761905,30.2085,5.3

In [12]:
df.describe()

,PreÃ§o UnitÃ¡rio,Quantidade Adquirida,Taxa 5% imposto,Total C/ Imposto,Custo dos produtos,Porcentagem da margem bruta,Renda Bruta,ClassificaÃ§Ã£o
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

In [13]:
conn = sqlite3.connect('Base_Vendas_Supermercado.db')
df.to_sql('table_vendas_supermercado', conn, if_exists='replace', index=False)
conn.close()

In [15]:
df.to_csv('Base_Vendas_Supermercado.csv', index=False, sep=',', encoding='utf-8')